# Virtual environments
.venv/
venveye/
venv/
env/
.env

# Python caches
__pycache__/
*.py[cod]
*$py.class
*.so

# Model files
*.gguf
added_tokens.json
config.json
generation_config.json
merges.txt
versions.txt

# Flutter / Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Editor / tools
.codex
